repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: \.qmd$
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.15
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
    -   id: ty
        name: ty
        entry: uv run ty check
        exclude: docs/
        language: system
        types: [python]
    -   id: ty
        name: ty
        entry: uv run pytest
        pass_filenames: false
        language: system
        types: [python]
